.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(78, 184, 135);
  padding: 20px;
}

/* sidebar */

.sidebar{
  width: 800px;
  height: 100%;
  background-color: white;
}

.sidebar-navbar{
  background-color: rgb(242, 242, 242);
  border-right: 1px solid lightgrey;
  padding: 10px 20px;
}

.search-container{
  height: 50px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 10px;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
}

.search-container input{
  width: 100%;
  margin-left: 10px;
  font-size: 1.2rem;
}

.chat-segment{
  padding: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid lightgrey;
  transition: .1s ease all;
}

.chat-segment:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.chat-segment p{
  font-size: 1.2rem;
  color: rgb(37, 37, 37);
  font-weight:600;
  margin-left: 20px;
}

.empty-chat{
  padding: 30px;
  font-size: 1.3rem;
  text-align: center;
}

/* end of sidebar */


.dashboard{
  width: 100%;
  height: 100%;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: column;
}

/* dashboard navbar */

.dashboard-navbar{
  background-color: rgb(242, 242, 242);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-navbar__left, .dashboard-navbar__right{
  display: flex;
}

.chat-header{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-profile-name{
  font-size: 1.3rem;
}

.online-status{
  color: rgb(113, 113, 113);
  line-height: 25px;
}

/* end of dashboard navbar*/

.dashboard-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: rgb(242, 242, 242);
  margin-top: auto;
}

.dashboard-footer .search-container{
  width: 88%;
  background-color: white;
}

/* chat dashboard */

.chat-dashboard{
  padding: 40px 60px 0px 60px;
  height: 100%;
  overflow-y: scroll;
}

.message-container{
  background-color: white;
  padding: 10px 60px 10px 10px;
  border-radius: 10px;
  width: fit-content;
  max-width: 500px;
  margin-top: 5px;
  position: relative;
}

.my-message{
  margin-left: auto;
  background-color: rgb(148, 237, 195);
}

.message-container .message{
  font-size: 1.1rem;
}

.message-container .time{
  font-size: .9rem;
  position: absolute;
  color: rgb(95, 95, 95);
  bottom: 5px;
  right: 10px;
}

.message-more-btn{
  position: absolute;
  top: -5px;
  right: 0px;
  transition: .1s ease all;
  color: grey;
  display: none;
}

.message-container:hover .message-more-btn{
  display: block;
}

.message-options-container{
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 200px;
  text-align: center;
  right: 10px;
  top: 20px;
}

.message-options-container button{
  padding: 10px 20px;
  font-size: 1.2rem;
}
/* end of chat dashboard */